.navbar-brand {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 2em;
}

.navbar-nav {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    
}