@import "fonts.css";


body {
    margin: 0;

}

.navbar {
    background-color: #000000;
}

.navbar-inverse .nav>li>a {
    color: #ffffff;
}
.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.container {
    padding-bottom: 7%;
}

h4, h5 {
    text-align: center;
    padding: 5%;
}

.color {
    border: 2px solid #000000;
}

.col {
    margin: 4%;
    padding: 1.5%;

}

.btn {
    color: #ffffff;
    background-color: #3623df;

}

hr {
    border-top: 1px solid rgba(36, 21, 248, 0.6);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.infoDisplay {
    display: flex;
    justify-content: space-between;
}

#displayLaptopModel{
    text-align: center;
}

#productDescription {
    display: block;
    text-align: center;
}

.footer {
    background-color: #000000;
    height: 7%;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
